#clear-grid {
    display: block;
    margin: 15px auto;
}

#grid-container {
    display: grid;
    width: 600px;
    margin: auto;
    border: black solid 2px;
}

.square {
    box-sizing: border-box;
}