h1 {
    text-align: center;
    margin-bottom: 10px;
}
.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.selected {
    color: white;
    background-color: blue;
}

.grid-size {
    width: max-content;
    margin: 10px auto 30px;
}

#grid-size {
    width: 42px;
}

#grid-size-error-message {
    margin: 5px 0;
}

#sketchboard-top {
    display: flex;
    width: 600px;
    margin: 5px auto;
    justify-content: space-between;
    align-items: center;
}

.tool-settings {
    display: flex;
    gap: 20px;
    align-items: center;
}

#grid {
    display: grid;
    width: 600px;
    margin: auto;
    border: black solid 2px;
}